<a routerLink="families" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Families</a>
<a routerLink="families/add-family" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Add Family</a>
<router-outlet></router-outlet>